<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <script src="{{ url_for('static', filename='scripts/app.js')}}" type="text/javascript"></script>
    <title>Document</title>
</head>
<body style="background-color:rgb({{red}},{{green}},{{blue}})">
    <h1>
        <strong>Enter your color values below:</strong>
    </h1>
    <form action="/changeColor" method="post">
        <table>
            <tr>
                <td>
                    Red:
                </td>
                <td>
                    <input type="text" name="red">
                </td>
            </tr>
            <tr>
                <td>
                    Green:
                </td>
                <td>
                    <input type="text" name="green">
                </td>
            </tr>
            <tr>
                <td>
                    Blue:
                </td>
                <td>
                    <input type="text" name="blue">
                </td>
            </tr>
            <input type="submit" value="Show My Color!" id="submit">
        </table>
    </form>
</body>

</html>